<!DOCTYPE html>
<html>
<head>
  <title>Mantonieta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<p>Cabeçalho</p>
</header>

<section>
<%= yield %>
</section>

<footer>
<p>Barra Inferior</p>
</footer>

</body>
</html>
